.admin-body {
    margin: auto;
    width: 90%;

    .admin-panel {
        display: flex;
        justify-content: space-between;

        span {
            display: block;
        }

        .select-by-tag {
            // padding: 15px;
            // width: 30%;
            background: #f2f2f2;
            border-radius: 0;
            box-shadow: none;
            height: 40px;
        }
    }
}

.admin-navbar > .navbar {
    border-radius: 0;
    background-color: white;
    border-left: none;
    border-right: none;
}

.admin-clips-wrapper {
    text-align: center;
    display: inline;

    .clip-wrapper {
        margin-bottom: 0;

        .clip {
            width: auto;
        }
    }
}

.under-clip-buttons {
    margin: 0 auto 10px;
    width: 220px;
    display: block;
}

.refresh-by-tag {
    float: right;
}

.refresh-by-tag,
.under-clip-buttons .btn {
    border-radius: 0;
    color: #AE0C13;
    background-color: white;
    border: 1px solid #AE0C13;
}

.refresh-by-tag:hover,
.under-clip-buttons .btn:hover {
    background-color: #AE0C13;
    color: white;
}

.admin-wrapper .nav li {
    float: left;
}

.admin-wrapper .nav > li,
.admin-wrapper .nav li a {
    color: black !important;
    text-decoration: none;
    border: none !important;
    outline: none !important;
}
//EditClipForm

.add-clip-modal {
    .add-clip {
        input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 30px 0 0;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        select {
            display: block;
            // margin: 30px 0 0;
            padding: 15px;
            width: 30%;
            background: #f2f2f2;
            border-radius: 0;
            border: none;
            box-shadow: none;
            height: 40px;
        }

        button {
            border-radius: 0;
            color: #AE0C13;
            background-color: white;
            border: 1px solid #AE0C13;
            margin-top: 30px;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            text-transform: uppercase;
        }

        .btn:hover {
            background-color: #AE0C13;
            color: white;
        }

        .login-error {
            position: absolute;
            display: block;
            color: #AE0C13;
        }

        .add-error {
            position: absolute;
            display: block;
            color: #AE0C13;
        }
    }
}

.edit-clip-modal {
    .url {
        margin: 0 0 20px;
        overflow: scroll;
    }
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    select {
        display: block;
        margin: 0 0 20px;
        padding: 15px;
        width: 30%;
        background: #f2f2f2;
        border-radius: 0;
        border: none;
        box-shadow: none;
        height: 40px;
    }

    input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 20px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        overflow: scroll;
    }

    .edit-error {
        position: absolute;
        display: block;
        color: #AE0C13;
    }

    .edit-buttons {
        margin-top: 20px;
        display: block;

        button {
            border-radius: 0;
            color: #AE0C13;
            background-color: white;
            border: 1px solid #AE0C13;
            width: 100px;
            padding: 15px;
            font-size: 14px;
            text-transform: uppercase;
        }

        .btn:hover {
            background-color: #AE0C13;
            color: white;
        }

        .delete-btn {
            float: right;
        }
    }

    .default-btn {
        width: 100px;
    }

    #presentation-checkbox:checked,
    #presentation-checkbox:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    #presentation-checkbox:checked + label,
    #presentation-checkbox:not(:checked) + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
    }
    /* Base for label styling */
    #presentation-checkbox:checked,
    #presentation-checkbox:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    #presentation-checkbox:checked + label,
    #presentation-checkbox:not(:checked) + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
    }
    /* checkbox aspect */
    #presentation-checkbox:checked + label:before,
    #presentation-checkbox:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: -12px;
        width: 24px;
        height: 24px;
        border: 2px solid #ccc;
        background: #fff;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    }
    /* checked mark aspect */
    #presentation-checkbox:checked + label:after,
    #presentation-checkbox:not(:checked) + label:after {
        content: '✔';
        position: absolute;
        top: -9px;
        left: 0.3em;
        font-size: 1.3em;
        line-height: 0.8;
        color: #09ad7e;
        transition: all 0.2s;
    }
    /* checked mark aspect changes */
    #presentation-checkbox:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }

    #presentation-checkbox:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
    /* disabled checkbox */
    #presentation-checkbox:disabled:checked + label:before,
    #presentation-checkbox:disabled:not(:checked) + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    #presentation-checkbox:disabled:checked + label:after {
        color: #999;
    }

    #presentation-checkbox:disabled + label {
        color: #aaa;
    }
}
@media only screen and (max-width: 767px) {
    .admin-navbar-btns li > a {
        font-size: 1em !important;
    }
}
