.admin-navbar > .navbar {
  border-radius: 0px;
}

.admin-clip-wrapper {
  margin: 20px 20px 0px;
  display: inline-block;
  width: 450px;
  height: 400px;
}

.admin-clips-wrapper {
  text-align: center;
  display: inline;
}

.under-clip-buttons {
  margin-left: 20px;
  width: 220px;
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}

.under-clip-buttons .btn {
  border-radius: 0;
}

.admin-page  .nav li {
  float: left;
}
.admin-page  .nav > li,
.admin-page  .nav li a {
  color: black !important;
  text-decoration: none;
  border:none !important;
  outline:none !important;
}
