@media screen and (max-width:1200px){
  .info-block-wrapper {
    margin-top: 6%;
  }
}

@media screen and (max-width:768px){
  .info-block-wrapper {
    margin-top: 3%;
  }
}

@media screen and (max-width:600px){
  .info-block-wrapper {
    margin-top: 3%;
    .social-networks {
      width: 61px;

      .social-network {
        margin-right: 3px;
        margin-left: 3px;
        .fa {
          font-size: 17px;
        }
      }
    }
    .i18n-line {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .nr-label {
      font-size: 12px;
      text-align: center;
    }
  }
}

@media screen and (max-width:460px){
  .info-block-wrapper {
    margin-top: 3%;
    .social-networks {
      width: 56px;

      .social-network {
        margin-right: 3px;
        margin-left: 3px;
        .fa {
          font-size: 15px;
        }
      }
    }
    .i18n-line {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .nr-label {
      font-size: 10px;
      text-align: center;
    }
  }
}
@media screen and (max-width:415px){
  .info-block-wrapper{
    margin-top: 2%;
  }
}
@media screen and (max-width:370px){
  .info-block-wrapper{
    margin-top: 1%;
  }
}

.footer {
  background-color: #a5a3a3;

  .social-networks {
    width: 80px;
    margin: auto;

    .social-network {
      margin-right: 3px;
      margin-left: 3px;
      .fa {
        font-size: 23px;
        color: rgb(255, 253, 245);
      }
      .fa:hover {
        color: #dbdbdb;
      }

      .fa:active {
        color: #d8d8d8;
      }
    }
  }
  .nr-label {
    text-align: center;
  }
}

.footer-logo-wrapper {
  padding-right: 0;
  height: 100%;
  .footer-logo {
    width: 200px;
    float: right;
    // height: 100%;

    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}

.i18n-line {
  background: -webkit-radial-gradient(closest-side, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  background: radial-gradient(closest-side, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  margin: auto;
  width: 80%;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.info-block-wrapper {
  margin-top: 4%;
}
