
.login-window {
    font-size: 1.2rem;
    background: #FFFFFF !important;
    width: 22vw;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    .login-layout {
        input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            padding: 15px;
            box-sizing: border-box;
            font-size: 1rem;
        }

        button {
            cursor: pointer;
            border-radius: 0;
            color: #AE0C13;
            background-color: white;
            border: 1px solid #AE0C13;
            margin-top: 30px;
            width: 100%;
            padding: 15px;
            text-transform: uppercase;
        }

        .btn:hover {
            background-color: #AE0C13;
            color: white;
        }

        .login-error {
            position: absolute;
            display: block;
            color: #AE0C13;
            font-size: 0.8rem;
        }
    }
}
