
.login-window {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
  width: 320px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-window > .container-fluid, .input-login-form {
  padding: 0;
  height: 100%;
  padding-bottom:5%;
}

.input-login-form {
  height: 95%;
  padding: 10%;
}

.container-fluid > .panel-heading {
  height: 50px;
}

.container-fluid > .panel-heading>.panel-title{
  line-height: 30px;
}
.input-login-field {
  margin-bottom: 15px;
}

.panel-heading {
  background-color: #f5f5f5;
  border-bottom: 1px solid silver;
}

.login-btn {
  transition: .3s;
  border: none;
  border-radius: 0;
  margin-top: 40px;
  background-color: rgb(104, 145, 162);

}

.login-btn:hover {
  background-color: rgb(12, 97, 33);
}
